VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=studio9-medical.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=studio9-medical
VITE_FIREBASE_APP_ID=
VITE_ACCOUNT_URL=https://medical-science-lilac.vercel.app/conta/
